{% extends "layout.html" %}

{% block content %}

  <!-- Page Header -->
     <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Clean Blog</h1>
              <span class="subheading">A Blog Theme by Start Bootstrap</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Footer -->
    <footer>
      <div class="container">
          <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
      </div>
    </footer>

{% endblock %}
